# Data
data/raw/*
data/processed/*
*.xlsx
*.csv

# Secrets
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#docker 
Dockerfile

#logs
logs/

